extends ../layouts/default

block content
	.font-page-banner(data-ks-editable=editable(user, { list: 'Banner', id: data.banner[0].id }))
		img(src='#{ data.banner[0]._.banner.scale(1500,600) }')
		.banner-title
			!{data.banner[0].content}
	section.container.services
		.row
			.col.l4.m6
				h3 Services
			- var delay = 0;
			each service,index in data.services
				- var delay = (1 + index) * 200;
				.col.l4.m6.service.revealOnScroll(data-ks-editable=editable(user, { list: 'Service', id: service.id }) data-animation='fadeIn' data-timeout='#{delay}')
					h5.icon(class='#{service.icon}') #{service.title}
					!{service.content}
	section.offers
		.row
			each offer,index in data.offers
				.col.l6(data-ks-editable=editable(user, { list: 'Offer', id: offer.id }))
					.offer(class=(index % 2 == 0 ? 'light' : 'dark') )
						img(src='#{ offer._.background.fit(900)}')
						.offer-overlay(class=(index % 2 == 0 ? 'light' : 'dark'))
						.offer-description
							.row
								h5 #{ offer.title }
								!{ offer.content }
							.row
								a.waves-effect.waves.btn-large(href='' class=(index % 2 == 0 ? 'light' : 'dark')) Button
	section.projects
		.projects-nav.light-background
			.container
				.row
					h3.text-center.bold Recent Work
				.row.text-center.filter-button-group
					ul
						li
							a.selected-project-category(href='javascript:void(0)' data-filter='*') All
						each category in data.projectData.categories
							li
								a(href='javascript:void(0)' data-filter='.#{ category.name }')= category.name
						
		.row
			.grid
				.grid-sizer
				.gutter-sizer
				each project in data.projectData.projects
					- var category_classes = project.categories.map(function(category) {return category.name}).join(' ');
					.grid-item(class='#{ category_classes }')
						- var aspectRatio = project.image.width / project.image.height
						if aspectRatio > 1
							img(src='#{ project._.image.fit(0,300)}')
						else
							img(src='#{ project._.image.fit(0,600)}')
						
					
				
block js
	script(src='/js/vendor/isotope.min.js')
	script(src='/js/vendor/imagesloaded.min.js')
	script(src='/js/project.js')
