extends ../layouts/default

block content
	.font-page-banner(data-ks-editable=editable(user, { list: 'Banner', id: data.banner[0].id }))
		img(src='#{ data.banner[0]._.banner.scale(1500,600) }')
		.banner-title
			!{data.banner[0].content}
	.container.services
		.row
			.col.l4.m6
				h3 Services
			- var delay = 0;
			each service,index in data.services
				- var delay = (1 + index) * 200;
				.col.l4.m6.service.revealOnScroll(data-ks-editable=editable(user, { list: 'Service', id: service.id }) data-animation='fadeIn' data-timeout='#{delay}')
					h5.icon(class='#{service.icon}') #{service.title}
					!{service.content}
	.offers
		.row
			each offer,index in data.offers
				.col.l6(data-ks-editable=editable(user, { list: 'Offer', id: offer.id }))
					.offer(class=(index % 2 == 0 ? 'light' : 'dark') )
						img(src='#{ offer._.background.scale(920,658)}')
						.offer-overlay(class=(index % 2 == 0 ? 'light' : 'dark'))
						.offer-description
							.row
								h5 #{ offer.title }
								!{ offer.content }
							.row
								a.waves-effect.waves.btn-large(href='' class=(index % 2 == 0 ? 'light' : 'dark')) Button
	.projects
		.row
			nav.main-nav(role='navigation')
				.nav-wrapper
					ul#nav-mobile.center.hide-on-med-and-down
						each category in data.projectData.categories
							li
								a(href='#' )= category.name
						
			
					
				
