extends ../layouts/default

block content
	.font-page-banner(data-ks-editable=editable(user, { list: 'Banner', id: data.banner[0].id }))
		img(src='#{ data.banner[0]._.banner.scale(1500,600) }')
		.banner-title
			!{data.banner[0].content}
	section.container.services
		.row
			.col.l4.m6
				h3.title-left.upper Services
			- var delay = 0;
			each service,index in data.services
				- var delay = (1 + index) * 200;
				.col.l4.m6.service.revealOnScroll(data-ks-editable=editable(user, { list: 'Service', id: service.id }) data-animation='fadeIn' data-timeout='#{delay}')
					h5.icon(class='#{service.icon}') #{service.title}
					!{service.content}
	section.offers
		.row
			each offer,index in data.offers
				.col.l6(data-ks-editable=editable(user, { list: 'Offer', id: offer.id }))
					.offer(class=(index % 2 == 0 ? 'light' : 'dark') )
						img(src='#{ offer._.background.fit(900)}')
						.offer-overlay(class=(index % 2 == 0 ? 'light' : 'dark'))
						.offer-description
							.row
								h5 #{ offer.title }
								!{ offer.content }
							.row
								a.waves-effect.waves.btn-large(href='' class=(index % 2 == 0 ? 'light' : 'dark')) Button
	section.projects
		.title-banner.light-background
			.container
				.row
					h3.center.thin Recent 
						span.bold Work
				.row.center.filter-button-group
					ul
						li
							a.selected(href='javascript:void(0)' data-filter='*') All
						each category in data.projectData.categories
							li
								a(href='javascript:void(0)' data-filter='.#{ category.name }')= category.name
						
		.row
			.grid
				.grid-sizer
				.gutter-sizer
				each project in data.projectData.projects
					- var category_classes = project.categories.map(function(category) {return category.name}).join(' ');
					.grid-item(class='#{ category_classes }')
						- var aspectRatio = project.image.width / project.image.height
						if aspectRatio > 1
							img(src='#{ project._.image.fit(0,300)}')
						else
							img(src='#{ project._.image.fit(0,600)}')
						
		a.view-more.light-background(href='/project')
			.container
				h5.center.thin.upper View all projects
	section.blog
		.title-banner
			.container
				h2.bold.title-left My 
					span.thin Blog
		.blog-posts.container
			each post in data.posts
				.row.blog-post
					.col.m4
						
	section.development-process
		.row
			.col.l3
				.row
					.col.s4
						.bold.center.step 01
					.col.s8
						h5.title Planning
						p Identify the different aspects of your project and make a planning accordingly.
			.col.l3
				.row
					.col.s4
						.bold.center.step 02
					.col.s8
						h5.title Development
						p See the progress of your project while development is ongoing so you can correct where needed.
			.col.l3
				.row
					.col.s4
						.bold.center.step 03
					.col.s8
						h5.title Launch
						p Once complete you can decide when to go live with the project.
						
block js
	script(src='/js/vendor/isotope.min.js')
	script(src='/js/vendor/imagesloaded.min.js')
	script(src='/js/project.js')
